@model CheeseMVC.ViewModels.ViewMenuViewModel
@{
    ViewBag.Title = Model.Menu.Name;
}
<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var cheesemenu in Model.Items)
    {
        <li>ID: @cheesemenu.Cheese.ID</li>
        <li>Name: @cheesemenu.Cheese.Name</li>
    }
</ul>
@if (Model.Items.Count == 0)
{
    <p>No CheeseMenu yet!</p>
}
<p><a asp-route-id=@Model.Menu.ID asp-controller="Menu" asp-action="AddItem" >Add Item</a></p>

